@model IList<Dump.Models.FileMeta>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dump</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Dump", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
        </div>
    </div>
    <div class="container body-content">
        <h2></h2>
        <div class="panel-group" role="tablist">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" data-toggle="collapse" data-target="#upload-panel">
                    <h4 class="panel-title">
                        Upload a new item
                    </h4>
                </div>
                <div id="upload-panel" class="panel-collapse collapse" role="tabpanel">
                    <div class="panel-body">
                        <div id="legacy" style="display: none">
                            Legacy upload form
                            @using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { @class = "form-inline", enctype = "multipart/form-data" }))
                            {
                                <div class="form-group"><input type="file" name="file" /></div>
                                <div class="form-group"><input type="submit" name="Submit" id="Submit" value="Upload" /></div>
                            }
                        </div>
                        <div id="new">
                            <div class="form-group"><button id="browse-button">Select files</button></div>
                            <table class="table" id="progress">
                                <thead>
                                    <tr>
                                        <th>Filename</th>
                                        <th>Size</th>
                                        <th class="progress-header">Progress</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="clipboard-heading" data-toggle="collapse" data-target="#clipboard-panel">
                    <span class="glyphicon glyphicon-refresh pull-right"></span>
                    <h4 class="panel-title">
                        Clipboard
                    </h4>
                </div>
                <div id="clipboard-panel" class="panel-collapse collapse in" role="tabpanel">
                    <div class="panel-body">
                        <div class="form-group">
                            <textarea type="text" style="width: 100%; height: 100px"></textarea>
                        </div>
                        <button id="save-clipboard" class="btn btn-default">Save</button>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="files-heading" data-toggle="collapse" data-target="#files-panel">
                    <span class="glyphicon glyphicon-refresh pull-right"></span>
                    <h4 class="panel-title">
                        Uploads
                    </h4>
                </div>
                <div id="files-panel" class="panel-collapse collapse in" role="tabpanel">
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Filename</th>
                                    <th>Last modified date</th>
                                    <th>Size</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Dump</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/dump.js")
    @Scripts.Render("~/Scripts/resumable.js")
</body>
</html>
